*{
    margin: 0;
    padding: 0;
    
}

.top-head{
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;/*it remove the above space  */
    background-color: rgb(176, 184, 138);
    
    
}
/* heading name bookinfo.io */
.web-name{
    color: white;
    padding-top: 10px;
    padding-left: 10px;


}
/* navigation */
.web-nav{
    background-color: rgb(225, 19, 201);
    display: flex;
    justify-content: space-between;
    
    /* flex-direction: row;
    align-items: center; */
  
}
.li1{
display: inline-block;
}
